{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container mt-5">

<div class="row align-items-center">

<div class="col-md-6 hero-text">
    <h1>Welcome Back 👋</h1>
    <p>
        Login to access your secure dashboard,
        profile settings, OTP verification and more.
    </p>
</div>

<div class="col-md-6">

<div class="auth-card">

<h2 class="text-center mb-4">
Login
</h2>

<form action="/auth/login" method="POST">

<input
class="form-control mb-3"
type="email"
name="email"
placeholder="Email"
required>

<input
class="form-control mb-3"
type="password"
name="password"
placeholder="Password"
required>

<button
class="btn btn-custom w-100">
Login
</button>

</form>

<div class="text-center mt-3">

<a href="/forgot-password"
class="text-light">
Forgot Password?
</a>

</div>

<div class="text-center mt-2">

<span class="text-light">
Don't have an account?
</span>

<a href="/register"
class="text-warning">
Register
</a>

</div>

</div>

</div>

</div>

</div>

{% endblock %}
